body {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
}

#mainContainer{
    margin: auto;
    padding: 0;
    border: 0;
    width: 100%;
    height: 100%;
}

#leftPart{
    width: 15%;
    height: 100%;
    padding: 8px;
    float: left;
    display: inline;
}

#midPart{
    width: 650px;
    height: 650px;
    position: relative;
    left: 10%;
    top: 7%;
    display: inline-block;
}

#rightPart{
    width: 20%;
    height: 100%;
    padding: 8px;
    float: right;
    display: inline
}

/* TODO */
#roomInfo{

}
/* TODO */
#roomCfgBtn{

}

.playerInfo{ /*TODO semitransparent when no player and add invite button1*/
    width: 82.5%;
    height: 60px;
    margin: 25px 10px;
    padding: 5px;
    border: 1px #333 solid;
    border-radius: 8px;
    background-color: white;
    align-items: center;
    display: flex;
}

.playerInfo-none {
    opacity: 0.3;
}

.playerInfo img{
    width: 40px;
    height: 40px;
    float: left;
    margin: 3px;
}

.tradeBtn{
    margin-left: auto;
    order: 2;
}

#record{
    width: auto;
    height: 60%;
    margin: 25px 10px;
    padding: 5px;
    border: 1.5px #444 solid;
    border-radius: 5px;
    background-color: white;
}

#states{
    width: 70%;
    height: 20%;
    margin: 10px;
    padding: 5px;
    border: 1.5px #444 solid;
    border-radius: 5px;
    float: right;
    background-color: white;
}

#recordContent{
    width: calc(100% - 9px);
    height: calc(100% - 31px);
    border: 1px solid;
    overflow-x: hidden;
    overflow-y: scroll;
    word-break: break-all;
    white-space: pre-line;
    padding: 3px;
}

#stateContent{
    width: 100%;
    /*overflow-x: scroll;*/
    white-space: pre-line;
    padding: 3px;
    display: table;
}

td{
    padding: 3px;
}

#tradeWindow {
    left: 600px;
    width: 250px;
    height: 400px;
}

.tradeField{
    width: 100%;
    height: calc(50% - 35px);
    float: left;
    display: inline;
    margin-bottom: 5px;
}

.tradeField img{
    width: 40px;
    height: 40px;
    float: left;
    margin: 5px
}

#informationWindow{
    width: 300px;
}

input[type="checkbox"] {
    display:none;
}

input[type="checkbox"] + label span {
    display:inline-block;
    width:15px;
    height:15px;
    margin: 0 2px;
    vertical-align:middle;
    background:url('../img/icon_ui/checkbox_unchecked.png') no-repeat;
    background-size: 12px 12px;
    cursor:pointer;
}

input[type="checkbox"]:checked + label span {
    background:url('../img/icon_ui/checkbox_checked.png') no-repeat;
    background-size: 12px 12px;
}

