.container{
    position: absolute;
}
body{
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
}
/*整个界面的背景*/
{
  margin:0;
  padding:0;}
html {
    background: url("../img/login_background.jpg") no-repeat center center;
    background-size: 100% 100%;
    background-attachment: fixed;
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;

}
#UserName{
    background: transparent;
    border-top: none;
    border-left:none;
    border-right:none;
    border-bottom: 3px solid #000000;
    left:750px;
    top:80px;
    position: absolute;
    padding: 2px 5px;
    font-size:20px;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
#Pencil{
    height:40px;
    width:30px;
    position:absolute;
    left:1020px;
    top:90px;
}
#userAvator{
    position: absolute;
    left:300px;
    top:500px;
}
#selectAvatar{
    -webkit-appearance:none;
    -moz-appearance:none;
    position: absolute;
    background:url("../img/icon/arrow_down.png") no-repeat left;
    background-position: 120px 5px;
    background-size:15% 70% ;
    left:660px;
    top:400px;
    height: 32px;
    width:150px;
    margin-top:8px;
    padding-left: 12px;
    border-radius:5px;
    /*background-color: #66b8ff;*/
    /*color: #efffff;*/
    font-size:18px;
    cursor: pointer;
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
}

#showAvatar{
    position:absolute;
    width:200px;
    height:200px;
}
