button{
    text-align:center;
    border: none;
    width:150px;
    height: 35px;
    padding: 5px;
    line-height:1;
    border-radius:4px;
    background-color: #2185d0;
    color: #fff;
    font-size:16px;
    -webkit-appearance:none;
    outline:none;
    cursor: pointer;
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
}

button:hover{
    background-color: #0a6eb9;
}

button:active{
    background-color: #0055a0;
}

a{
    cursor: pointer;
}

.shadowBox{
    box-shadow: 0 2px 2px 2px rgba(0,0,0,0.2), 0 0 0 1px rgba(0,0,0,0.08);
    transition: box-shadow 200ms cubic-bezier(0.4, 0.0, 0.2, 1);
}


.hidden{
    width: auto;
    height: auto;
    padding: 5px;
    border: 1.5px #666 solid;
    border-radius: 5px;
    visibility: hidden;
    position: absolute;
    overflow: hidden;
    background-color: white;
    vertical-align: middle;
    left: calc(50% - 200px);
    top: calc(50% - 200px);
    z-index: 9999;
}

.statusbar{
    margin-top: 0;
    float: right;
    padding-right: 2px;
}

.smallBtn{
    text-align:center;
    border: none;
    width: auto;
    height: 25px;
    padding: 5px 10px;
    line-height:1;
    border-radius:3px;
    background-color: #2185d0;
    color: #fff;
    font-size:15px;
    -webkit-appearance:none;
    outline:none;
    cursor: pointer;
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    margin: 5px;
}

.smallBtn:hover{
    background-color: #0a6eb9;
}

.smallBtn:active{
    background-color: #0055a0;
}

hr{
    margin: 2px;
}

.player-0 path{
    fill: #ff0000;
}

.player-1 path{
    fill: #00ff00;
}

.player-2 path{
    fill: #0000ff;
}

.player-3 path{
    fill: #ffff00;
}

.player-4 path{
    fill: #ff00ff;
}

.player-5 path{
    fill: #00ffff;
}

.street-0 path{
    fill: #ff8080;
}

.street-1 path{
    fill: #ffdf80;
}

.street-2 path{
    fill: #bfff7f;
}

.street-3 path{
    fill: #82ffa1;
}

.street-4 path{
    fill: #80ffff;
}

.street-5 path{
    fill: #82a1ff;
}

.street-6 path{
    fill: #c182ff;
}

.street-7 path{
    fill: #ff80df;
}
