.container{
    position: absolute;
}
body{
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
}

html {
    background: url("http://epicre.oss-cn-shenzhen.aliyuncs.com/login_background.jpg") no-repeat center center;
    background-size: 100% 100%;
    background-attachment: fixed;
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;

}
#UserName{
    background: transparent;
    border-top: none;
    border-left:none;
    border-right:none;
    border-bottom: 3px solid #000000;
    left:750px;
    top:80px;
    position: absolute;
    padding: 2px 5px;
    font-size:20px;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
#Pencil{
    height:40px;
    width:30px;
    position:absolute;
    left:1020px;
    top:90px;
}
#userAvatar{
    position: absolute;
    left:300px;
    top:500px;
}
#selectAvatar{
    -webkit-appearance:none;
    -moz-appearance:none;
    position: absolute;
    background:url("../img/icon_ui/arrow_down.png") no-repeat left;
    background-position: 120px 5px;
    background-size:15% 70% ;
    left:660px;
    top:400px;
    height: 32px;
    width:150px;
    margin-top:8px;
    padding-left: 12px;
    border-radius:5px;
    /*background-color: #66b8ff;*/
    /*color: #efffff;*/
    font-size:18px;
    cursor: pointer;
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
}

#showAvatar{
    position:absolute;
    width:200px;
    height:200px;
}

#configurationsSet{
    line-height: 30px;
}

#configurationsSet h4{
    margin: 6px;
}

#configurationsSet label{
    cursor: pointer;
}

#configurationsSet input[type=radio]{
    cursor: pointer;
}

#configurationsSet input[type=checkbox]{
    cursor: pointer;
}

.radio {
    width: 75px;
    margin: 0 5px;
    display: inline-block;
}
.radio input[type="radio"] {
    position: absolute;
    opacity: 0;
}

.radio input[type="radio"] + .radio-label:before {
    content: '';
    background: #f4f4f4;
    border-radius: 100%;
    border: 1px solid #b4b4b4;
    display: inline-block;
    width: 12px;
    height: 12px;
    position: relative;
    cursor: pointer;
    margin-right: 4px;
}
.radio input[type="radio"]:checked + .radio-label:before {
    background-color: #3197EE;
    -webkit-box-shadow: inset 0 0 0 3px #f4f4f4;
    box-shadow: inset 0 0 0 3px #f4f4f4;
}
.radio input[type="radio"]:focus + .radio-label:before {
    outline: none;
    border-color: #3197EE;
}
.radio input[type="radio"]:disabled + .radio-label:before {
    -webkit-box-shadow: inset 0 0 0 3px #f4f4f4;
    box-shadow: inset 0 0 0 3px #f4f4f4;
    border-color: #b4b4b4;
    background: #b4b4b4;
}
.radio input[type="radio"] + .radio-label:empty:before {
    margin-right: 0;
}

input[type="checkbox"] {
    display:none;
}

input[type="checkbox"] + label span {
    display:inline-block;
    width:40px;
    height:20px;
    margin: 0 5px;
    vertical-align:middle;
    background:url('../img/icon_ui/switch_off.png') no-repeat;
    background-size: 36px 18px;
    cursor:pointer;
}

input[type="checkbox"]:checked + label span {
    background:url('../img/icon_ui/switch_on.png') no-repeat;
    background-size: 36px 18px;
}

#roomList{
    text-indent: 10px;
    text-align: center;
}

#roomList button{
    margin: 1px;
}
